/* stuff */
:root {
    --bg: #101010;
    --fg: #ffffff;
    --accentred: #ff3151;
    --accentblue: #30b5e6;
    --accentgreen: #12d799;
    --frame: #1070b0;
    --selbg: #b67be060;
    --focus: #bee037;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
:focus {
    outline: 1px solid var(--focus);
}
::selection {
    background-color: var(--selbg);
}
body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    min-height: 100vh;
    line-height: 1.5;
}
div#left-top {
    background-color: var(--frame);
    color: var(--fg);
    width: 8rem;
    height: 6rem;
    overflow-x: visible;
    transition: width 0.25s cubic-bezier(0.23, 1, 0.32, 1), color 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#left-top a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid var(--fg);
    text-align: right;
    padding: 0 0.25rem;
    user-select: none;
    background-color: var(--accentblue);
    font-weight: bold;
    color: var(--fg);
    min-height: 1px;
    width: 100%;
    transition: min-height 0.25s cubic-bezier(0.23, 1, 0.32, 1), color 0.25s cubic-bezier(0.23, 1, 0.32, 1), width 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    overflow-wrap: break-word;
}
div#left-top a:is(:hover, :active) {
    background-color: var(--accentred);
}
h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    left: 9rem;
    text-align: right;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: left 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
h1::-webkit-scrollbar {
    display: none;
}
div.meta {
    width: 16rem;
    position: relative;
    left: -8rem;
    background-color: var(--frame);
    border-bottom: 1px solid var(--fg);
    transition: left 0.25s cubic-bezier(0.23, 1, 0.32, 1), width 0.25s cubic-bezier(0.23, 1, 0.32, 1), height 0.25s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    line-height: initial;
}
div.meta, div.meta-content {
    height: 3.75rem;
}
div#frame .meta {
    position: fixed;
    top: 12rem;
    border-top: 1px solid var(--fg);
}
div#frame .meta-content {
    width: 8rem;
    text-align: right;
    float: left;
    transition: height 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#frame .meta:is(:hover, :active, :focus, :focus-within) {
    border: 0;
}
.meta-content {
    color: var(--accentred);
    font-size: 0.8em;
    padding: 0.25rem;
    padding-top: calc(0.25rem - 1px);
    background-color: var(--bg);
    width: 8rem;
    background-color: var(--bg);
    text-align: right;
    float: left;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: width 0.25s cubic-bezier(0.23, 1, 0.32, 1), height 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.meta-content::-webkit-scrollbar {
    display: none;
}
div.meta:is(:hover, :active, :focus, :focus-within) {
    left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 8.5rem;
    border-bottom: 0px solid var(--fg);
}
div#bottom {
    width: 100%;
    height: 2rem;
    background-color: var(--frame);
    margin-top: -1rem;
    border-radius: 0 0 0 2rem;
    transition: height 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#radius-container {
    width: calc(100% - 8rem);
    height: 1rem;
    background-color: var(--frame);
    position: relative;
    left: 8rem;
    top: -0.5rem;
    transition: width 0.25s cubic-bezier(0.23, 1, 0.32, 1), left 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#radius {
    width: 100%;
    height: 1rem;
    background-color: var(--bg);
    border-radius: 0 0 0 1rem;
    position: absolute;
    left: 0;
    top: 0;
}
div#frame {
    padding: 1rem 0 0 8rem;
    transition: padding-left 0.25s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    background: var(--frame);
    border-radius: 2rem 0 0 0;
}
div#spacer {
    height: 1em;
    background-color: var(--bg);
}
div#content {
    background-color: var(--bg);
    padding: 1rem;
    border-radius: 1rem 0 0 0;
    min-height: calc(100vh - 10rem);
    transition: min-height 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
code {
    background-color: var(--frame);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-family: "Noto Sans Mono", monospace;
}
pre {
    background-color: var(--frame);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-family: "Noto Sans Mono", monospace;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
pre mark {
    background-color: var(--accentred);
    color: var(--fg);
}
a {
    color: var(--accentblue);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
strong, em {
    color: var(--focus);
}
ins {
    color: var(--accentgreen);
}
del {
    color: var(--accentred);
}
blockquote {
    border-left: 0.25rem solid var(--accentred);
    padding-left: 0.5rem;
    margin-left: 0;
}
cite {
    font-size: 0.8em;
    color: var(--accentred);
}
cite::before {
    content: "– ";
}
table {
    margin: 1rem 0;
    display: block;
    overflow-x: auto;
    max-width: 100%;
    width: fit-content;
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
}
th, td {
    text-align: left;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    background-color: var(--bg);
    vertical-align: baseline;
}
th {
    font-weight: bold;
    background-color: var(--accentred);
}
th.subhead {
    background-color: var(--frame);
}
.rtr {
    border-top-right-radius: 0.5rem;
}
.rtl {
    border-top-left-radius: 0.5rem;
}
.rbr {
    border-bottom-right-radius: 0.5rem;
}
.rbl {
    border-bottom-left-radius: 0.5rem;
}
div.links {
    margin: 1rem 0;
    padding-left: 40px;
}
div.links a {
    font-weight: bold;
    text-decoration: none;
    margin: 0.5rem 0;
    display: block;
    width: fit-content;
}
div.links a:hover {
    text-decoration: underline;
}
div.links a::before {
    content: "› ";
    color: var(--fg);
}
input, button, textarea, select, option {
    appearance: none;
    background-color: var(--bg);
    border: 1px solid var(--fg);
    border-radius: 0.25rem;
    color: var(--fg);
    padding: 0.25rem 0.5rem;
    font-family: "Noto Sans Mono", monospace;
}
::-webkit-calendar-picker-indicator {
    display: none;
}
::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button {
    cursor: pointer;
    background-color: var(--accentblue);
    color: var(--fg);
    font-weight: bold;
}
[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
:invalid {
    color: var(--accentred);
    font-weight: bold;
}
ul {
    list-style-type: disc;
}
li, dd {
    margin: 0.5em 0;
}
hr {
    border: 0;
    border-top: 2px solid var(--frame);
}
.green { color: var(--accentgreen); }
body#redalert {
    --frame: #5a0000;
}
@keyframes redalert {
    0% {
        background-color: var(--accentred);
    }
    50% {
        background-color: var(--fg);
    }
    100% {
        background-color: var(--accentred);
    }
}
body#redalert :is(div#frame, div#radius-container, div#bottom, div#left-top, div.meta) {
    animation: redalert 2s infinite;
}
@media (max-width: 600px) {
    div#frame {
        padding-left: 2rem;
        border-radius: 1.5rem 0 0 0;
    }
    div#left-top, div#left-top * {
        width: 2rem;
        color: transparent;
    }
    div.meta, div.meta-content {
        height: 0;
        width: 0;
        left: -8rem !important;
    }
    div.meta-content {
        float: none;
    }
    div#radius-container {
        width: calc(100% - 2rem);
        left: 2rem;
    }
    h1 {
        left: 3rem;
    }
    div#left-top a {
        min-height: 5rem;
        color: transparent !important;
    }
    div#bottom {
        height: 1.5rem;
    }
    div#content {
        min-height: calc(100vh - 9.5rem);
    }
    table {
        white-space: nowrap;
    }
}
@media (prefers-color-scheme: light) {
    /* thanks beefox */
    :root, body#redalert {
        --bg: #fefeff;
        --fg: #222;
        --frame: #cce5f1;
        --focus: #3d918b;
        --accentred: #ce2029;
        --accentblue: #6388ad;
        --accentgreen: #068c59;
        --selbg: #b67be060;
    }
    div#content {
        background-color: #f9fdff;
    }
    div#left-top a, th:not(.subhead) {
        color: var(--bg);
    }
    body#redalert :is(div#frame, div#radius-container, div#left-top, div#bottom, div.meta) {
        animation: redalert-light 2s infinite;
    }
    @keyframes redalert-light {
        0% {
            background: var(--frame);
        }
        50% {
            background: var(--accentred);
        }
        100% {
            background: var(--frame);
        }
    }
    button {
        color: var(--bg);
    }
}
@media (prefers-reduced-motion) {
    body#redalert :is(div#frame, div#radius-container, div#bottom, div#left-top, div.meta) {
        background-color: var(--frame);
    }
    * {
        animation: none !important;
        transition: none !important;
    }
}
