/* fonts */
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/Alegreya-Regular.ttf");
    font-family: "Alegreya";
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/Alegreya-Italic.ttf");
    font-family: "Alegreya";
    font-style: italic;
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/Alegreya-Bold.ttf");
    font-family: "Alegreya";
    font-weight: bold;
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/Alegreya-BoldItalic.ttf");
    font-family: "Alegreya";
    font-style: italic;
    font-weight: bold;
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/AlegreyaSans-Regular.ttf");
    font-family: "Alegreya Sans";
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/AlegreyaSans-Italic.ttf");
    font-family: "Alegreya Sans";
    font-style: italic;
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/AlegreyaSans-Bold.ttf");
    font-family: "Alegreya Sans";
    font-weight: bold;
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/AlegreyaSans-BoldItalic.ttf");
    font-family: "Alegreya Sans";
    font-style: italic;
    font-weight: bold;
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/InconsolataLGC-Regular.ttf");
    font-family: "Inconsolata";
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/InconsolataLGC-Italic.ttf");
    font-family: "Inconsolata";
    font-style: italic;
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/InconsolataLGC-Bold.ttf");
    font-family: "Inconsolata";
    font-weight: bold;
}
@font-face {
    src: url("https://berrymot.github.io/startrek/fonts/InconsolataLGC-BoldItalic.ttf");
    font-family: "Inconsolata";
    font-style: italic;
    font-weight: bold;
}
/* stuff */
:root {
    --bg: #10191f;
    --xbg: #103147;
    --fg: #ffffff;
    --accentred: #ff3151;
    --accentblue: #30b5e6;
    --accentgreen: #12d799;
    --frame: #1070b0;
    --focus: #bee037;
    --sans: "Alegreya Sans", "Noto Sans", sans-serif;
    --serif: "Alegreya", "Noto Serif", serif;
    --mono: "Inconsolata", "Noto Sans Mono", monospace;
}
::selection {
    background-color: #8e07d060;
}
* {
    box-sizing: border-box;
}
:focus {
    outline: 1px solid var(--focus);
}
body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0;
    padding: 0;
    font-family: var(--sans);
    min-height: 100vh;
    scrollbar-color: var(--accentblue) transparent;
    scrollbar-width: 8px;
    font-feature-settings: "lnum";
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--accentblue);
}
div#left-top {
    background-color: var(--frame);
    color: var(--fg);
    width: 8rem;
    height: 6rem;
    overflow-x: visible;
    transition: width 0.25s cubic-bezier(0.23, 1, 0.32, 1), color 0.25s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#left-top a, div#frame > a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid var(--fg);
    text-align: right;
    padding: 0.125rem 0.25rem;
    user-select: none;
    background-color: var(--accentblue);
    font-weight: bold;
    color: var(--fg);
    min-height: 1px;
    width: 100%;
    position: relative;
    top: 0;
    overflow-wrap: break-word;
    transition: min-height 0.25s cubic-bezier(0.23, 1, 0.32, 1), color 0.25s cubic-bezier(0.23, 1, 0.32, 1), width 0.25s cubic-bezier(0.23, 1, 0.32, 1), top 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#frame > a {
    position: absolute;
    top: 11rem;
    left: 0;
    width: 8rem;
    border-top: 1px solid var(--fg);
}
span.s {
    display: none;
}
:is(div#left-top, div#frame) > a:is(:hover, :active) {
    background-color: var(--accentred);
}
h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    left: 9rem;
    text-align: right;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: left 0.25s cubic-bezier(0.23, 1, 0.32, 1), top 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
h1::-webkit-scrollbar {
    display: none;
}
div.meta {
    width: 16rem;
    position: relative;
    left: -8rem;
    line-height: 1.1;
    background-color: var(--frame);
    border-bottom: 1px solid var(--fg);
    transition: left 0.25s cubic-bezier(0.23, 1, 0.32, 1), width 0.25s cubic-bezier(0.23, 1, 0.32, 1), height 0.25s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div.meta, div.meta-content {
    height: 3.75rem;
}
div#frame .meta {
    position: fixed;
    top: 12rem;
    border-top: 1px solid var(--fg);
}
div#frame .meta-content {
    width: 8rem;
    text-align: right;
    float: left;
    transition: height 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#frame .meta:is(:hover, :active, :focus, :focus-within) {
    border: 0;
}
div.meta-content {
    color: var(--accentblue);
    padding: 0.25rem;
    padding-top: calc(0.25rem - 1px);
    background-color: var(--bg);
    width: 8rem;
    background-color: var(--bg);
    text-align: right;
    float: left;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: width 0.25s cubic-bezier(0.23, 1, 0.32, 1), height 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.meta-content::-webkit-scrollbar {
    display: none;
}
div.meta:is(:hover, :active, :focus, :focus-within) {
    left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 8.5rem;
    border-bottom: 0px solid var(--fg);
}
div#bottom {
    width: 100%;
    height: 2rem;
    background-color: var(--frame);
    margin-top: -1rem;
    border-radius: 0 0 0 2rem;
    transition: height 0.25s cubic-bezier(0.23, 1, 0.32, 1), background-color 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#radius-container {
    width: calc(100% - 8rem);
    height: 1rem;
    background-color: var(--frame);
    position: relative;
    left: 8rem;
    top: -0.5rem;
    transition: width 0.25s cubic-bezier(0.23, 1, 0.32, 1), left 0.25s cubic-bezier(0.23, 1, 0.32, 1), top 0.25s cubic-bezier(0.23, 1, 0.32, 1), height 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#radius {
    width: 100%;
    height: 1rem;
    background-color: var(--bg);
    border-radius: 0 0 0 1rem;
    position: absolute;
    left: 0;
    top: 0;
    transition: border-radius 0.25s cubic-bezier(0.23, 1, 0.32, 1), margin-top 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#frame {
    padding: 1rem 0 0 8rem;
    background: var(--frame);
    border-radius: 2rem 0 0 0;
    transition: padding 0.25s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#spacer {
    height: 1em;
    background-color: var(--bg);
    transition: height 0.25s cubic-bezier(0.23, 1, 0.32, 1), backgrouned-color 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
div#content {
    background-color: var(--bg);
    padding: 1rem;
    border-radius: 1rem 0 0 0;
    height: calc(100vh - 10rem);
    overflow-y: auto;
    transition: min-height 0.25s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
code, pre {
    background-color: var(--frame);
    padding: 0.125rem;
    border-radius: 0.25rem;
    font-family: var(--mono);
    font-size: 0.8em;
}
pre {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
pre mark {
    background-color: var(--accentred);
    color: var(--fg);
}
a {
    color: var(--accentblue);
}
strong, em {
    color: var(--focus);
}
ins {
    color: var(--accentgreen);
}
del {
    color: var(--accentred);
}
blockquote {
    font-family: var(--serif);
}
cite {
    color: var(--accentred);
    font-weight: bold;
    display: block;
}
cite a {
    text-decoration: underline;
}
div.twrap {
    max-width: 100%;
    position: relative;
}
.twrap::before {
    content: "";
    position: absolute;
    inset: -1px;
    opacity: 100%;
    pointer-events: none;
    background: linear-gradient(to right, var(--bg), transparent 1rem), linear-gradient(to left, var(--bg), transparent 1rem);
}
.twrap > div {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.twrap > div::-webkit-scrollbar {
    display: none;
}
table {
    margin: 1rem;
    display: inline-block;
    overflow-x: hidden;
    width: fit-content;
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
    border: 2px solid var(--accentred);
    border-radius: 0.75rem;
}
th, td {
    text-align: left;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    background-color: var(--bg);
    vertical-align: baseline;
    white-space: nowrap;
}
th {
    font-weight: bold;
    background-color: var(--accentred);
}
th.subhead {
    background-color: var(--frame);
}
td.ref {
    background: var(--xbg);
}
ul.links a {
    font-weight: bold;
    text-decoration: none;
}
ul.links a:hover {
    text-decoration: underline;
}
input, button, textarea, select, option {
    appearance: none;
    background-color: var(--bg);
    border: 1px solid currentcolor;
    border-radius: 0.25rem;
    color: var(--fg);
    padding: 0.25rem 0.5rem;
    font-family: var(--mono);
    box-sizing: content-box !important;
    font-size: 0.8em;
}
::-webkit-calendar-picker-indicator {
    display: none;
}
::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button {
    cursor: pointer;
    color: var(--accentblue);
    font-weight: bold;
}
[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
:invalid {
    color: var(--accentred);
    font-weight: bold;
}
ul {
    list-style-type: disc;
}
li, dd {
    margin: 0.5em 0;
}
hr {
    border: 0;
    border-top: 2px solid var(--frame);
}
.green {
    color: var(--accentgreen);
}
.center {
    text-align: center;
}
.serif {
    font-family: var(--serif);
}
.sans {
    font-family: var(--sans);
}
.mono {
    font-family: var(--mono);
    font-size: 0.8em;
}
mjx-container[display="true"] {
    text-align: left !important;
    padding-left: 40px !important;
}
body#redalert {
    --bg: #261316;
    scrollbar-color: var(--accentred) transparent;
}
body#redalert::-webkit-scrollbar-thumb {
    background-color: var(--accentred);
}
@keyframes redalert {
    0% {
        background-color: var(--accentred);
    }
    50% {
        background-color: var(--fg);
    }
    100% {
        background-color: var(--accentred);
    }
}
@keyframes redalertbg {
    0% {
        background-color: var(--bg);
    }
    50% {
        background-color: #262626;
    }
    100% {
        background-color: var(--bg);
    }
}
body#redalert :is(div#frame, div#radius-container, div#bottom, div#left-top, div.meta) {
    animation: redalert 2s infinite;
}
body#redalert, body#redalert :is(div#spacer, div#radius, div#content) {
    animation: redalertbg 2s infinite;
}
@media (max-width: 600px) {
    div#frame {
        padding-left: 2rem;
        border-radius: 0 0 0 1.5rem;
        padding-bottom: 1rem;
        padding-top: 0;
    }
    span.l {
        display: none;
    }
    span.s {
        display: inline;
    }
    div#left-top, div#left-top *, div#frame > a {
        width: 2rem;
    }
    div.meta, div.meta-content {
        height: 0;
        width: 0;
        left: -8rem !important;
    }
    div.meta-content {
        float: none;
    }
    div#radius-container {
        width: calc(100% - 2rem);
        left: 2rem;
        top: -6rem;
        height: 2rem;
    }
    div#radius {
        border-radius: 1rem 0 0 0;
        margin-top: 1rem;
    }
    h1 {
        left: 3rem;
        top: 2.5rem;
    }
    div#left-top a {
        min-height: 5rem;
        top: 2em;
        border-top: 1px solid var(--fg);
    }
    div#frame > a {
        position: absolute;
        height: 1.5rem;
        top: 7rem;
        left: 0;
        border-top: none;
    }
    div#bottom, div#spacer {
        height: 0;
        background-color: var(--bg);
    }
    div#content {
        min-height: calc(100vh - 8rem);
        border-radius: 0 0 0 1rem;
    }
    div#left-top {
        border-radius: 1.5rem 0 0 0;
    }
}
@media (prefers-color-scheme: light) {
    /* thanks beefox */
    :root, body#redalert {
        --bg: #f9fcfe;
        --xbg: #edf6fa;
        --fg: #222;
        --frame: #cce5f1;
        --focus: #3d918b;
        --accentred: #ce2029;
        --accentblue: #2c70de;
        --accentgreen: #068c59;
    }
    ::selection {
        background-color: #e6b87760;
    }
    div#left-top a, th:not(.subhead), div#frame > a {
        color: var(--bg);
    }
    body#redalert :is(div#frame, div#radius-container, div#left-top, div#bottom, div.meta) {
        animation: redalert-light 2s infinite;
    }
    body#redalert, body#redalert :is(div#spacer, div#radius, div#content) {
        animation: redalertbg-light 2s infinite;
    }
    @keyframes redalert-light {
        0% {
            background: var(--frame);
        }
        50% {
            background: var(--accentred);
        }
        100% {
            background: var(--frame);
        }
    }
    @keyframes redalertbg-light {
        0% {
            background-color: var(--bg);
        }
        50% {
            background-color: #faeaec;
        }
        100% {
            background-color: var(--bg);
        }
    }
}
@media (prefers-reduced-motion) {
    body#redalert :is(div#frame, div#radius-container, div#bottom, div#left-top, div.meta) {
        background-color: var(--accentred);
    }
    body#redalert, body#redalert :is(div#spacer, div#radius, div#content) {
        background-color: var(--bg);
    }
    * {
        animation: none !important;
        transition: none !important;
    }
}
