/* fonts */
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Condensed.ttf");
    font-stretch: 62.5%;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-CondensedItalic.ttf");
    font-stretch: 62.5%;
    font-style: italic;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-CondensedBold.ttf");
    font-stretch: 62.5%;
    font-weight: 700;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-CondensedBoldItalic.ttf");
    font-stretch: 62.5%;
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Iosevka";
    src: url("../fonts/Iosevka-Regular.ttf");
}
@font-face {
    font-family: "Iosevka";
    src: url("../fonts/Iosevka-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Iosevka";
    src: url("../fonts/Iosevka-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Iosevka";
    src: url("../fonts/Iosevka-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

/* colors */
:root {
    --f: #25b;
    --b0: #000;
    --b1: #fff;
    --b2: #dbf; /* em */
    --b3: #3c9; /* good */
    --b4: #c49;
    --b5: #45f; /* h2 */
    --b6: #fc3; /* strong, th */
    --b7: #94f;
    --b8: #f80;
    --b9: #c8f;
    --b10: #c7f;
    --b11: #d44;
    --b12: #fa8;
    --b13: #fba;
    --b14: #fc6;
    --b15: #78f;
    --b16: #668;
    --b17: #aaf;
    --b18: #8cf;
    --b19: #fa0; /* warn */
    --b20: #f20; /* err */
    --b21: #f86;
    --b22: #f96;
    --b23: #f66;
    --b24: #c3f;
    --b60: #0b0;
    font-family: "Noto Sans", sans-serif;
}
.f-b0 {
    color: var(--b0) !important;
}
.e-b0 {
    border-color: var(--b0) !important;
}
.b-b0 {
    background-color: var(--b0) !important;
}
.f-b1 {
    color: var(--b1) !important;
}
.e-b1 {
    border-color: var(--b1) !important;
}
.b-b1 {
    background-color: var(--b1) !important;
}
.f-b2 {
    color: var(--b2) !important;
}
.e-b2 {
    border-color: var(--b2) !important;
}
.b-b2 {
    background-color: var(--b2) !important;
}
.f-b3 {
    color: var(--b3) !important;
}
.e-b3 {
    border-color: var(--b3) !important;
}
.b-b3 {
    background-color: var(--b3) !important;
}
.f-b4 {
    color: var(--b4) !important;
}
.e-b4 {
    border-color: var(--b4) !important;
}
.b-b4 {
    background-color: var(--b4) !important;
}
.f-b5 {
    color: var(--b5) !important;
}
.e-b5 {
    border-color: var(--b5) !important;
}
.b-b5 {
    background-color: var(--b5) !important;
}
.f-b6 {
    color: var(--b6) !important;
}
.e-b6 {
    border-color: var(--b6) !important;
}
.b-b6 {
    background-color: var(--b6) !important;
}
.f-b7 {
    color: var(--b7) !important;
}
.e-b7 {
    border-color: var(--b7) !important;
}
.b-b7 {
    background-color: var(--b7) !important;
}
.f-b8 {
    color: var(--b8) !important;
}
.e-b8 {
    border-color: var(--b8) !important;
}
.b-b8 {
    background-color: var(--b8) !important;
}
.f-b9 {
    color: var(--b9) !important;
}
.e-b9 {
    border-color: var(--b9) !important;
}
.b-b9 {
    background-color: var(--b9) !important;
}
.f-b10 {
    color: var(--b10) !important;
}
.e-b10 {
    border-color: var(--b10) !important;
}
.b-b10 {
    background-color: var(--b10) !important;
}
.f-b11 {
    color: var(--b11) !important;
}
.e-b11 {
    border-color: var(--b11) !important;
}
.b-b11 {
    background-color: var(--b11) !important;
}
.f-b12 {
    color: var(--b12) !important;
}
.e-b12 {
    border-color: var(--b12) !important;
}
.b-b12 {
    background-color: var(--b12) !important;
}
.f-b13 {
    color: var(--b13) !important;
}
.e-b13 {
    border-color: var(--b13) !important;
}
.b-b13 {
    background-color: var(--b13) !important;
}
.f-b14 {
    color: var(--b14) !important;
}
.e-b14 {
    border-color: var(--b14) !important;
}
.b-b14 {
    background-color: var(--b14) !important;
}
.f-b15 {
    color: var(--b15) !important;
}
.e-b15 {
    border-color: var(--b15) !important;
}
.b-b15 {
    background-color: var(--b15) !important;
}
.f-b16 {
    color: var(--b16) !important;
}
.e-b16 {
    border-color: var(--b16) !important;
}
.b-b16 {
    background-color: var(--b16) !important;
}
.f-b17 {
    color: var(--b17) !important;
}
.e-b17 {
    border-color: var(--b17) !important;
}
.b-b17 {
    background-color: var(--b17) !important;
}
.f-b18 {
    color: var(--b18) !important;
}
.e-b18 {
    border-color: var(--b18) !important;
}
.b-b18 {
    background-color: var(--b18) !important;
}
.f-b19 {
    color: var(--b19) !important;
}
.e-b19 {
    border-color: var(--b19) !important;
}
.b-b19 {
    background-color: var(--b19) !important;
}
.f-b20 {
    color: var(--b20) !important;
}
.e-b20 {
    border-color: var(--b20) !important;
}
.b-b20 {
    background-color: var(--b20) !important;
}
.f-b21 {
    color: var(--b21) !important;
}
.e-b21 {
    border-color: var(--b21) !important;
}
.b-b21 {
    background-color: var(--b21) !important;
}
.f-b22 {
    color: var(--b22) !important;
}
.e-b22 {
    border-color: var(--b22) !important;
}
.b-b22 {
    background-color: var(--b22) !important;
}
.f-b23 {
    color: var(--b23) !important;
}
.e-b23 {
    border-color: var(--b23) !important;
}
.b-b23 {
    background-color: var(--b23) !important;
}
.f-b24 {
    color: var(--b24) !important;
}
.e-b24 {
    border-color: var(--b24) !important;
}
.b-b24 {
    background-color: var(--b24) !important;
}
.f-b60 {
    color: var(--b60) !important;
}
.e-b60 {
    border-color: var(--b60) !important;
}
.b-b60 {
    background-color: var(--b60) !important;
}